# --- VARIABLES POUR DOCKER (Création de la BDD) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mot de pas postgres
POSTGRES_DB=gestion_dechets

# --- VARIABLE POUR PRISMA (Connexion de l'API NestJS) ---
DATABASE_URL="postgresql://postgres:votre_mot_de_passe_postgres@localhost:5436/gestion_dechets?schema=public"

# --- VARIABLES POUR PGADMIN (Interface Web BDD) ---
PGADMIN_EMAIL=admin@saas-dechets.com
PGADMIN_PASSWORD=Admin123

# --- VARIABLES JWT (Authentification) ---
JWT_SECRET=votre_cle_secrete_access
JWT_REFRESH_SECRET=votre_cle_secrete_refresh
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# --- VARIABLES D'INITIALISATION DU SYSTEME ---
SUPER_ADMIN_EMAIL=admin@votre-saas.com
SUPER_ADMIN_PASSWORD=MotDePasseTresSecurise123!

//Config yeria lire la documentation yeria
YERIA_PRIVATE_KEY= generate la cle private
YERIA_PUBLIC_KEY= generer la cle public